h1{
    text-align: center;
}

.main{
    display: flex;
    flex-direction:column;
    padding: 1%;
    align-items: center;
}

.content{
    background-color: aqua;
    width: 15rem;
}

.btns{
    padding: 1%;
    display: flex;
    align-items: center;

}

button{
    color: white;
    background-color: black;
    
}